<span class="remove-icon" (click)="removeFormGroup()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x"
         viewBox="0 0 16 16">
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
    </svg>
</span>
<form [formGroup]="userForm()" class="needs-validation">
    <div class="form-group">
        <label for="country">Country</label>
        <input inputValidation
               id="country" type="text" class="form-control" formControlName="country" [ngbTypeahead]="search"/>
    </div>

    <div class="form-group">
        <label for="name">Username</label>
        <input inputValidation
               type="email" class="form-control" id="name" formControlName="username">
    </div>

    <div class="form-group">
        <label for="birthday">Birthday</label>
        <div class="input-group">
            <input
                inputValidation
                [errorMessage]="'Please provide a correct Birthday'"
                class="form-control"
                id="birthday"
                [maxDate]="currentDate"
                placeholder="yyyy-mm-dd"
                name="dp"
                formControlName="birthday"
                ngbDatepicker
                #d="ngbDatepicker"
            />
            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
        </div>
    </div>
</form>
